// stylelint-disable property-blacklist, declaration-no-important

///////////////////////////////////////////////////
// Fork Notes
//
// Extended to support responsive breakpoints
// with border and radius utilities. Added option
// for currentColor borders.
///////////////////////////////////////////////////

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    //
    // Border
    //

    .border#{$infix} {
      border: $border-width solid $border-color !important;
    }
    .border#{$infix}-top {
      border-top: $border-width solid $border-color !important;
    }
    .border#{$infix}-right {
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color !important;
    }
    .border#{$infix}-left {
      border-left: $border-width solid $border-color !important;
    }

    .border#{$infix}-dashed {
      border: $border-width dashed $border-color !important;
    }
    .border#{$infix}-top-dashed {
      border-top: $border-width dashed $border-color !important;
    }
    .border#{$infix}-right-dashed {
      border-right: $border-width dashed $border-color !important;
    }
    .border#{$infix}-bottom-dashed {
      border-bottom: $border-width dashed $border-color !important;
    }
    .border#{$infix}-left-dashed {
      border-left: $border-width dashed $border-color !important;
    }

    .border#{$infix}-0 {
      border: 0 !important;
    }
    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }
    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }
    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }
    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    //
    // Border Color
    //

    @each $color, $value in $theme-colors {
      .border-#{$color} {
        border-color: $value !important;
      }
    }

    .border-white {
      border-color: $white !important;
    }

    .border-currentColor {
      border-color: currentColor !important;
    }

    //
    // Border-radius
    //

    .rounded#{$infix}-sm {
      border-radius: $border-radius-sm !important;
    }

    .rounded#{$infix} {
      border-radius: $border-radius !important;
    }

    .rounded#{$infix}-top {
      border-top-left-radius: $border-radius !important;
      border-top-right-radius: $border-radius !important;
    }

    .rounded#{$infix}-right {
      border-top-right-radius: $border-radius !important;
      border-bottom-right-radius: $border-radius !important;
    }

    .rounded#{$infix}-bottom {
      border-bottom-right-radius: $border-radius !important;
      border-bottom-left-radius: $border-radius !important;
    }

    .rounded#{$infix}-left {
      border-top-left-radius: $border-radius !important;
      border-bottom-left-radius: $border-radius !important;
    }

    .rounded#{$infix}-lg {
      border-radius: $border-radius-lg !important;
    }

    .rounded#{$infix}-circle {
      border-radius: 50% !important;
    }

    .rounded#{$infix}-pill {
      border-radius: $rounded-pill !important;
    }

    .rounded#{$infix}-0 {
      border-radius: 0 !important;
    }
  }
}
