// vertical rule (use on <hr/>
.hr-vr {
  border-top: none;
  border-left: $hr-border-width solid $hr-border-color;
  width: 1px;
  height: $hr-height;
  margin: 0 $hr-margin-x-base;
  display: inline-block;
  vertical-align: middle;
}

// large vertical rule (use with .hr-vr)
.hr-vr-lg {
  height: $hr-height-lg;
}

// button height vertical rule (use with .hr-vr)
.hr-vr-btn {
  height: $btn-height;
}

.hr-vr-btn-sm {
  height: $btn-height-sm;
}

.hr-vr-btn-lg {
  height: $btn-height-lg;
}
