// stylelint-disable declaration-no-important

///////////////////////////////////////////////////
// Fork Notes
//
// Extended to support responsive breakpoint switching
///////////////////////////////////////////////////

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $value in $overflows {
      .overflow#{$infix}-#{$value} {
        overflow: $value !important;
      }
    }
  }
}
