// added support for configurable x-axis padding with breakpoint
@mixin make-container {
  width: 100%;
  padding-right: $container-px-sm;
  padding-left: $container-px-sm;
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up($container-px-lg-breakpoint) {
    padding-left: $container-px-lg;
    padding-right: $container-px-lg;
  }
}
