// custom <select> placeholder support
.text-placeholder {
  color: $input-placeholder-color;

  option:not(.text-placeholder) {
    color: $custom-select-color;
  }
}

// custom checkbox vertical spacing
.custom-checkbox:not(.custom-control-inline) {
  + .custom-checkbox {
    margin-top: $form-check-y-spacing;
  }
}

// custom checkbox vertical spacing
.custom-radio:not(.custom-control-inline) {
  + .custom-radio {
    margin-top: $form-check-y-spacing;
  }
}

// custom switch vertical spacing
.custom-switch:not(.custom-control-inline) {
  + .custom-switch {
    margin-top: $form-check-y-spacing;
  }
}
