// Duplicate Navbar config for footer
//
// Removed toggler and collapse code

footer .navbar-nav {
  .nav-link {
    font-size: $fnavbar-nav-link-font-size;
  }
}

footer {
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: $fnavbar-padding-y $fnavbar-padding-x;

    // Because flex properties aren't inherited, we need to redeclare these first
    // few properties so that content nested within behave properly.
    > .container,
    > .container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  // Navbar brand
  //
  // Used for brand, project, or site names.

  .navbar-brand {
    display: inline-block;
    padding-top: $fnavbar-brand-padding-y;
    padding-bottom: $fnavbar-brand-padding-y;
    margin-right: $fnavbar-padding-x; // apply .mr-cp-XX spacer utilities if needed in markup to match container padding
    @include font-size($fnavbar-brand-font-size);
    line-height: inherit;
    white-space: nowrap;

    @include hover-focus {
      text-decoration: none;
    }
  }

  // Navbar nav
  //
  // Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

  footer .navbar-nav {
    display: flex;
    flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-link {
      padding-right: 0;
      padding-left: 0;
    }

    .dropdown-menu {
      position: static;
      float: none;
    }
  }

  // Navbar text
  //
  //

  footer .navbar-text {
    display: inline-block;
    padding-top: $fnav-link-padding-y;
    padding-bottom: $fnav-link-padding-y;
  }

  // Generate series of `.navbar-expand-*` responsive classes for configuring
  // where your navbar collapses.
  .navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {
        @include media-breakpoint-down($breakpoint) {
          > .container,
          > .container-fluid {
            // padding-right: 0; // removed to allow $container-px container padding, use cp spacer utilities instead to match.
            // padding-left: 0; // removed to allow $container-px container padding, use cp spacer utilities instead to match.
            flex-direction: column;
          }

          // mobile layout
          padding-top: $fnavbar-mobile-padding-y;
          padding-bottom: $fnavbar-mobile-padding-y;

          .navbar-brand {
            padding-bottom: $fnavbar-mobile-brand-padding-bottom;
          }

          .navbar-nav {
            align-self: stretch;
            text-align: center;
            // margin-left: -$fnavbar-padding-x; // removed to allow $container-px container padding, use cp spacer utilities instead to match.
            // margin-right: -$fnavbar-padding-x; // removed to allow $container-px container padding, use cp spacer utilities instead to match.
          }

          .nav-item {
            border-top: $fnavbar-mobile-nav-border;

            &:last-child {
              border-bottom: $fnavbar-mobile-nav-border;
            }
          }

          .nav-link {
            padding-top: $fnavbar-mobile-nav-padding-y;
            padding-bottom: $fnavbar-mobile-nav-padding-y;
          }

          .fnavbar-social-share {
            padding-top: $fnavbar-mobile-padding-y;
          }

          .fnavbar-copyright {
            padding-top: $fnavbar-mobile-copyright-padding-top;
          }
        }

        @include media-breakpoint-up($next) {
          flex-flow: row nowrap;
          justify-content: flex-start;

          .navbar-nav {
            flex-direction: row;

            .dropdown-menu {
              position: absolute;
            }

            .nav-link {
              padding-right: $fnavbar-nav-link-padding-x;
              padding-left: $fnavbar-nav-link-padding-x;
            }
          }

          // For nesting containers, have to redeclare for alignment purposes
          > .container,
          > .container-fluid {
            flex-wrap: nowrap;
          }
        }
      }
    }
  }

  // Navbar themes
  //
  // Styles for switching between navbars with light or dark background.

  // Dark links against a light background
  .navbar-light {
    .navbar-brand {
      color: $fnavbar-light-brand-color;

      @include hover-focus {
        color: $fnavbar-light-brand-hover-color;
      }
    }

    .navbar-nav {
      .nav-link {
        color: $fnavbar-light-color;

        @include hover-focus {
          color: $fnavbar-light-hover-color;
        }

        &.disabled {
          color: $fnavbar-light-disabled-color;
        }
      }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $fnavbar-light-active-color;
      }
    }

    .navbar-toggler {
      color: $fnavbar-light-color;
      border-color: $fnavbar-light-toggler-border-color;
    }

    .navbar-toggler-icon {
      background-image: $fnavbar-light-toggler-icon-bg;
    }

    .navbar-text {
      color: $fnavbar-light-color;

      a {
        color: $fnavbar-light-active-color;

        @include hover-focus {
          color: $fnavbar-light-active-color;
        }
      }
    }
  }

  // White links against a dark background
  .navbar-dark {
    .navbar-brand {
      color: $fnavbar-dark-brand-color;

      @include hover-focus {
        color: $fnavbar-dark-brand-hover-color;
      }
    }

    .navbar-nav {
      .nav-link {
        color: $fnavbar-dark-color;

        @include hover-focus {
          color: $fnavbar-dark-hover-color;
        }

        &.disabled {
          color: $fnavbar-dark-disabled-color;
        }
      }

      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $fnavbar-dark-active-color;
      }
    }

    .navbar-toggler {
      color: $fnavbar-dark-color;
      border-color: $fnavbar-dark-toggler-border-color;
    }

    .navbar-toggler-icon {
      background-image: $fnavbar-dark-toggler-icon-bg;
    }

    .navbar-text {
      color: $fnavbar-dark-color;

      a {
        color: $fnavbar-dark-active-color;

        @include hover-focus {
          color: $fnavbar-dark-active-color;
        }
      }
    }
  }
}
