// <select> placeholder support
.text-placeholder {
  color: $input-placeholder-color;

  option:not(.text-placeholder) {
    color: $input-color;
  }
}

// helper text
.form-text {
  font-size: $form-text-font-size;
}

// label typography
label:not(.form-check-label):not(.custom-control-label):not(.custom-file-label) {
  font-family: $label-font-family;
  font-weight: $label-font-weight;
  font-size: $label-font-size;
}

// label styling for legends labeling check/radio/switch groups
.legend-label {
  font-family: $label-font-family;
  font-weight: $label-font-weight;
  font-size: $label-font-size;
  margin-bottom: $label-margin-bottom;
  display: inline-block;
}

// checkbox/radio vertical spacing
.form-check:not(.form-check-inline) {
  + .form-check {
    margin-top: $form-check-y-spacing;
  }
}
