.navbar-nav {
  .nav-link {
    font-size: $navbar-nav-link-font-size;
  }

  // applies negitive margin to correct for extra space due to last menu item padding
  @if $align-right-navbar-link-text {
    @include media-breakpoint-up("hd") {
      margin-right: -$navbar-nav-link-padding-x;
    }
  }
}

// implements $container-px for consistent container padding, use cp spacers to match in markup
.navbar {
  > .container,
  > .container-fluid {
    padding-right: $container-px-sm;
    padding-left: $container-px-sm;
  }

  @include media-breakpoint-up($container-px-lg-breakpoint) {
    > .container,
    > .container-fluid {
      padding-right: $container-px-lg;
      padding-left: $container-px-lg;
    }
  }
}
