// text selection highlight
//
// https://css-tricks.com/overriding-the-default-text-selection-color-with-css/

::selection {
  background-color: $text-selection-bg; /* WebKit/Blink Browsers */
  color: $text-selection-color;
}

::-moz-selection {
  background-color: $text-selection-bg; /* Gecko Browsers */
  color: $text-selection-color;
}
