* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// header font-sizes without responsive sizing
@if $enable-responsive-font-sizes {
  .h1-static-size {
    font-size: $h1-font-size;
  }
  .h2-static-size {
    font-size: $h2-font-size;
  }
  .h3-static-size {
    font-size: $h3-font-size;
  }
  .h4-static-size {
    font-size: $h4-font-size;
  }
  .h5-static-size {
    font-size: $h5-font-size;
  }
  .h6-static-size {
    font-size: $h6-font-size;
  }
}
