// Add your own functions here.
// This file is imported directly after Bootstrap's functions.

// Returns size from $sizes Sass map
@function size($key) {
  @return map-get($sizes, $key);
}

// Pixel to REM
//
// Use for all pixel measurement entry to ensure all output is rem units.
//
// returns rem units based on provided pixel measurement (unitless)
// assumes 16px base as browser default
@function rems($pixels) {
  @return $pixels / 16 * 1rem;
}

// converts pixel to rem units, use to resolve errors due to mixed units
@function px-to-rem($pixels) {
  $remValue: $pixels / 16px;
  @return $remValue * 1rem;
}
